*{  padding: 0px;
    margin:0px;
    box-sizing: border-box;
}



@font-face { 
    font-family: 'Sun Zoom Spark';
    src: url(fuentes/Sunzoomspark.ttf);
}

body {  width: 100%;
        background-image: url(imagenes/fondo1.jpg);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        font-family: 'Kumbh Sans', sans-serif;
        line-height: 30px;

}

/* *********** HEADER **************** */
header, main {text-align: center;}
.imagenlogo {   width: 300px;
                padding: 20px 0 30px;        
}

/* ********** NAV **************** */
nav{background-color: rgba(1, 65, 75, 0.6);
    height: 50px;
    padding: 10px 0 20px;
    margin-bottom: 20px;
}

nav ul{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a {   text-decoration:none;
                color: white;
                font-family: Sun zoom spark;
                font-size: 2.5em;
                
}

nav ul li a:hover{  color: rgba(1, 65, 75, 1);
                    background-color: #fff;
                     text-decoration:none;
}

/* *************** MAIN ***************** */
main{   width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 100px;

}

/* *************** CAROUSEL ************** */
.carousel{ width: 90%;
  align-items: center;

}


/* ************* NOTICIAS ************* */
/* todo esto es mejor enrealidad hacerlo con grid*/
#noticias{width: 90%;
        display: flex;
        
        padding:50px;
        justify-content: space-between;
        
        
        }
.noticia1, .noticia2 {
        display:block;
        width: 45%;
        
        /*text-overflow: ellipsis;
       /* overflow: hidden;*/
       /* white-space: wrap;*/
        
}



#imagennoticia{width: 200px;
                height: 200px;}


/* **************** FORMULARIO *********** */
/*#contacto1{
            display:flex;
            flex-direction: row;
            padding: 20px 0 50px;
}*/
#contacto{padding-left:50px;
        font-weight: bold;
}

form {  width: 500px;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-left:100px;
        font-size: 1.2em;
        font-weight: bold;
}

textarea{
    height: 100px;
    font-size: 18px;
    min-height: 100px;
    max-height: 400px;
}

#email {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#botonenviar{width: 50%;}

/* ***************** FOOTER ************** */
footer {width: 100%;
    height: 200px;
    background-color: rgba(1, 65, 75, 1);
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

footer img{width: 25%;
            height: 40%;}

footer p{color: #fff;}

#footer1{width: 70%;
        height: 200px;
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        }

#footer1 p {width: 70%;}


/* *************** Tienda *************** */
.tienda, .nosotros, .tienda-producto{ 
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        
}
.tienda-menu, .nosotros-menu{width: 25%;
  padding:30px 0 0 30px;

}
.tienda-menu-producto{width: 50%;
  padding:30px 0 30px 30px;
}
.productos, .nosotros-info{width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.contacto-info{width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.productos-producto{width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0 20px;


}
.productos-producto img{
  width: 70%;
  
}
.productos-sec{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.productos-sec img{

  width: 180px;
  height: 180px;
  
}
.producto{
  padding: 10px 20px 20px 25px;
}

h3{
  font-family: Sun zoom spark;
  font-size: 5em;

}

.tienda-menu a{font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.tienda-menu a:hover{
  color: rgba(1, 65, 75, 1);
  background-color: #fff;
  text-decoration: none;
}


.producto button{
margin-left:100px;
 align-self: center;
 color:white;
 background-color: rgba(1, 65, 75, 1);
}

button .carrito{
  width: 20px;
  height: 20px;
}

.producto h4{
  padding-top: 3px;
  font-size: 1em;
  font-weight: bold;
}

a h4{
  color: #fff;
  text-decoration: none;
}

a h4:hover{
  background-color:white;
  color: rgba(1, 65, 75, 1);
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  
}

.boton-compra{
  background-color: rgba(1, 65, 75, 1);
  color:#fff;
  font-weight: bold;
  margin: 0 10px;
}
.boton-compra a{
  color: white;
}
.boton-compra a:hover{
  color: white;
  text-decoration: none;
}
/* ****************SPRITES***************** */
#sprites { width: 30%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        }

.sprite1{ width: 100px;
    height: 100px;
    background-image: url(imagenes/sprites.png);
    background-size: 600px;
    background-position-y: -100%;
    display: flex;
    flex-direction: row;
    background-position-x: 0;
    margin-right: 10px;

}

.sprite1:hover{background-position-y: 0;
list-style: none;}

.sprite2{ width: 100px;
height: 100px;
background-image: url(imagenes/sprites.png);
background-size: 600px;
background-position-y: -100%;
display: flex;
flex-direction: row;
background-position-x: 1500px;
list-style: none;

}
.sprite2:hover{background-position-y: 0;}

ul li {list-style-type: none;}

/*---- MEDIA QUERIES ----*/

@media (max-width:450px){
/*header*/
  .imagenlogo{
    width: 50%;
  }

  nav{
    height: 40px;
  }
  nav ul li a {   text-decoration:none;
    color: white;
    font-family: Sun zoom spark;
    font-size:1.5em;}

 main{   width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-left:0px;
    }

body{
  line-height: 12px;
}
/*carrusel*/
  .carousel{ width: 100%;
  
  }
/*Noticias*/
#noticias{
width: 100%;
display: block;
}
.noticia1, .noticia2{
  width: 100%;
  font-size: 0.5em;
  padding-bottom: 30px;
}

  h1{font-size:0.5em;}

/*Nuestra historia, TIENDA*/

.tienda, .nosotros, .tienda-producto{ 
  display:block;
  align-items: center;
  margin:auto;
}

.tienda-menu, .nosotros-menu{
  width: 100%;
  text-align: center;
  padding:0px;
}

h3{
  font-size: 3em;
}
.productos, .nosotros-info{
  width: 100%;
  padding: 10%;

}

.productos-sec img{

  width: 130px;
  height: 130px;

}
.productos-sec{
  font-size: 0.7em;

}
.producto{
  padding:5px 5px 0 15px;
}

.productos{
  padding-top: 0px;
  
}
.tienda-producto, .tienda-menu-producto{
  width: 100%;
}

.productos-producto{
  width: 100%;
}

.boton-compra{
  height: 25px;
}


/*Formulario*/

#contacto{padding:0px ;
}

form {  width: 100%;
  display: block;
  padding:0px 0px 30px;
  font-size: 1em;
 }
 #email {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-top: 10px;
}

textarea{
  height: 100px;
  font-size: 18px;
  min-height: 100px;
  max-height: 400px;
}

#botonenviar{width: 30%;
height: 25px;}

form p {
  padding-top: 10px;
}

  /*Footer*/
  footer{display: block;
    width: 100%;
  align-items: center;
  height: 250px;}
  #footer1 p {
    font-size:0.5em;
    
  }
  #footer1{ width: 100%;
    height: 100px;
    padding:0 20px 0 20px;
  }
  #sprites{
    height: 100px;
    padding-top:0px;
    width: 100%;
  }
}
